{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>AnalyticsHub</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <!-- Montserrat Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    
    <link rel="stylesheet" href="{% static "css/Landing_Styles.css" %}"/>
    
  </head>
  <body>
    <div class="grid-container">
      <aside id="sidebar">
        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="Landing.html" target="_blank">
              <div class="text-center">
                <!-- Center the content -->
                <h4 class="font-weight-bold"><b>AnalyticsHub</b></h4>
              </div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="http://127.0.0.1:8000/mainapi/one/" target="_blank">
              <div class="text-center">
                <!-- Center the content -->
                <p class="font-weight-bold">2016</p>
              </div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="Pages/2017.html" target="_blank">
              <div class="text-center">
                <!-- Center the content -->
                <p class="font-weight-bold">2017</p>
              </div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="Pages/2018.html" target="_blank">
              <div class="text-center">
                <!-- Center the content -->
                <p class="font-weight-bold">2018</p>
              </div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="Pages/2019.html" target="_blank">
              <div class="text-center">
                <!-- Center the content -->
                <p class="font-weight-bold">2019</p>
              </div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="Pages/Cummilative.html" target="_blank">
              <div class="text-center">
                <!-- Center the content -->
                <p class="font-weight-bold">Cummilative</p>
              </div>
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container1"></main>
      <!-- End Main -->
    </div>

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <!-- Custom JS -->
    {% comment %}
    <script src="js/scripts.js"></script>
    {% endcomment %}
  </body>
</html>
